$red: #E94D4D;
$blue: #32A5DF;
$orange: #FF7C32;
$green: #29A87B;
$main: #F2F8FB;
$title: #3C4E69;
$text: #3C4E69;
$text-grey: #818B9A;
$white: #fff;
$black: #000000;
$sidebar: #F9FDFF;
$border: #DAE9F1;


* {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

@mixin light{
  font-weight: 300;
}

@mixin regular{
  font-weight: 400;
}

@mixin semi-bold{
  font-weight: 600;
}

@mixin bold{
  font-weight: 700;
}
